/*----- COMPONENTS : BUTTONS ----- */

@import "../variables/index";
@import "../mixins/buttons";


.btn-square {
  position: relative;
  z-index: 3;
  text-align: center;
  a {
    font-family: $headers-font;
    font-size: 2.4rem;
  }
  &:before {
    content: "";
    position: absolute;
    top: 1.8rem;
    left: 18%;
    right: 18%;
    z-index: -1;
    // width: 120%;
    height: 8px;
    background: $light-gray;
  }
}

.btn-plain {
  a {
    transition: 0.3s;
    font-size: 16px;
    padding: 4px 16px;
    background: $light-gray;
    color: $rose-dawn;
    text-transform: uppercase;
  }

  &:hover {
    a {
      background: $rose-dawn;
      color: white;
    }
  }
}

.btn-blob {
  font-family: $headers-font;
  font-size: 1.8rem;
  color: $rose-dawn;
}
