/*----- COMPONENTS : CONTAINERS ----- */

.container {
  width: 88vw;
  margin: 32px auto;
  max-width: 1080px;
}

.fullwidth-container {
  width: 100vw;
}

.main-content {
  margin-top: 64px;
}

.layout-container {
  margin-top: 64px;
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
  // .container {
  //   width: 80vw;
  //   margin: auto;
  // }

} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  // .container {
  //   width: 72vw;
  //   margin: auto;
  // }
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .main-content {
    margin-top: 40px;
  }

  .layout-container {
    margin-top: 40px;
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

