/*----- COMPONENTS : FAVORIS ----- */


.favoris-sm-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 4rem;

  img {
    object-fit: cover;
  }
}

.favoris-sm-card-content {
  position: relative;
  top: -1.4rem;

  p {
    margin: 0;
    text-transform: uppercase;
  }
}

p.favoris-sm-card-title {
  font-family: $headers-font;
  color: white;
  font-size: 2.4rem;
  text-transform: none;

  span {
    background: $rose-dawn;
    padding: 2px 8px;
  }
}

.favoris-card {
  background: white;
  margin: 8px auto 24px;
  padding: 8px;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(100,100,100,0.1);

  h3 {
    margin: 0px auto 0;
    line-height: 1;
    font-size: 1.4rem;
  }

  a {
    color: $dark-gray;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    margin: 0 auto;
    text-transform: uppercase;
  }

  img {
    max-height: 22vw;
  }


}

.favoris-archives-card {
  margin: 24px auto;
  position: relative;

  .featured-favoris {
    position: relative;
    z-index: 0;
  }

  .favoris-header {
    width: 88%;
    position: relative;
    margin: -18px auto 0;
    background: $old-pink;
    padding: 6px 4px;
    color: $dark-gray;
    padding-left: 8px;
    z-index: 4;
  }

  .favoris-name  {
    font-family: $headers-font;
  }

  .favoris-name span {
    padding-right: 8px;
  }


}





@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .favoris-card {
    background: white;
    padding: 24px;
    text-align: center;

    h3, p {
      margin: 0 auto;
    }
    h3 {
      font-size: 1.8rem;
      margin-bottom: 8px;
    }

    p {
      text-transform: uppercase;
    }
  }

} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

