/*----- COMPONENTS : FOOTER ----- */


footer {
  margin-top: 32px;
  background: $dark-rose;
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
}


.footer-left-section {
  padding: auto 24px;
  text-align: center;
  a {
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  p {
    color: white;
    margin-top: 0;
    font-size: 1.4rem;
    font-family: $accent-font;
    font-style: italic;
  }
}

.footer-right-section {
  margin-top: 16px;
  border-top: 1px solid white;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $rose-dawn;
  text-align: center;

  svg {
    font-size: 0.8rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    color: white;
  }

  a {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
  }
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .footer-right-section {
    margin-top: 16px;
    border-top: none;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: $rose-dawn;

    svg {
      font-size: 1.2rem;
    }

    p {
      text-align: right;
      font-size: 1.2rem;
      margin: 0;
      text-transform: uppercase;
    }

    a {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

