/*----- COMPONENTS : FORMS ----- */

// MAILCHIMP FORM - HOMEPAGE

#homepage-mailchimp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    text-align: center;
    border: none;
    border-bottom: 1px solid $light-gray;
    width: 90%;
    margin: 8px auto;
    padding-bottom: 4px;
    color: $rose-dawn;
  }

  input:active {
    outline: none;
    outline-offset: 0;
    border-bottom: 1px solid $old-pink;
    @include old-pink-transparent(0.24);
  }

  input:focus {
    outline: none;
    outline-offset: 0;
    border-bottom: 1px solid $old-pink;
    @include old-pink-transparent(0.24);
  }

  ::placeholder {
    color: $gray;
    text-transform: uppercase;
    font-family: $body-font;
  }
}

// COMMENTS FORM - SINGLE POST

#post-comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  input, textarea {
    width: 100%;
    margin-top: 4px;
    display: block;
    border: 1px solid $light-gray;
    background: $light-gray;
    border: none;
    color: $dark-gray;
  }

  input {
    height: 28px;
  }

  input:active,
  textarea:active {
    outline: none;
    outline-offset: 0;
    border: 1px solid $old-pink;
    @include old-pink-transparent(0.24);
  }

  input:focus,
  textarea:focus {
    outline: none;
    outline-offset: 0;
    border: 1px solid $old-pink;
    @include old-pink-transparent(0.24);
  }


  label {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

}

.form-element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px auto;
}

.form-white {

  input, textarea {
    background: white;
    border: 1px solid white;
    margin-left: 8px;
    width: 100%;
  }

  input {
    height: 2rem;
  }

}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {

  // MAILCHIMP FORM - HOMEPAGE

  #homepage-mailchimp-form {
    input {
      font-size: 1.6rem;
    }
  }

  // COMMENTS FORM - SINGLE POST

  #post-comment-form {

    input {
      height: 32px;
    }

    label {
      margin-top: 1em;
      text-transform: uppercase;
      font-size: 1.4rem;
    }

  }



} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

