/*----- COMPONENTS : HEADER ----- */

h1.logo-title {
  text-align: center;
  font-size: 3.6rem;
  background: -webkit-linear-gradient(145deg, $rose-dawn, $old-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  h1.logo-title {
    font-size: 8rem;
  }

} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

