/*----- COMPONENTS : NAVBAR ----- */


// mobile menu

.hide-menu {
  display: none;
  transition: 0.3s;
  opacity: 0;
}

.show-menu {
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.toggle-menu {
  position: fixed;
  z-index: 1200;
  top: 24px;
  left: 24px;
  font-size: 2rem;
}

.mobile-main-menu {
  transition: 0.3s;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: linear-gradient(150deg, rgba(237, 213, 208, 0.2) 10%, rgba(201, 144, 134, 0.34) 90%), white;
}

.mobile-menu-links {
  display: flex;
  flex-direction: column;

  a {
    text-transform: uppercase;
    font-size: 3.2rem;
  }
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {

  #main-navbar {
    width: 100vw;
  }

  #top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin: auto;
    padding-bottom: 24px;
    font-size: 2.2rem;
    border-bottom: 1px solid $light-gray;

    a {
      display: flex;
      align-items: center;
    }
  }

  #navbar-search {
    display: flex;
    align-items: center;
    color: $old-pink;
  }

  #navbar-social {
    display: flex;
    justify-content: flex-end;

    a {
    font-size: 2.2rem;
    margin: 0;
    }
  }

  .main-menu {
    margin-top: 16px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;

    span {
      margin: 1.2rem auto .8rem;
    }

    span:hover {
      cursor: pointer;
    }

  }

  .menu-link {
    text-transform: uppercase;
    color: $medium-gray;
    padding: 0 8px;
    border: 1px solid white;
    transition: 0.3s;
    font-size: 1.8rem;

    &:hover {
      border: 1px solid $rose-dawn;
      color: $rose-dawn;
    }

    &.active-link {
      border: 1px solid $rose-dawn;
      background: $rose-dawn;
      color: white;
    }
  }

  .dropdown-toggle {
    position: relative;
  }

  a.dropdown-link:hover {
    border: none;
    border-top: 1px solid red;
  }

  .menu-link.dropdown-toggle:hover {
    border: none;
  }

  .dropdown-menu {
    position: absolute;
    top: 40px;
    left: -52.5px;
    width: 210px;
    text-align: center;
    z-index: 200;

    ul {
      list-style: none;
      padding-left: 0;
      background: rgba(255,255,255, 0.8);
    }

    li {
      padding-top: 12px;
      border-bottom: 1px solid $light-gray;
      padding-bottom: 12px;
      margin: 0;
    }

    li:last-child {
      border-bottom:none;
    }

    li:hover {
      background: $light-gray;
    }


    a.dropdown-item {
      border: none;
      text-transform: uppercase;
    }
  }


  .show-dropdown {
    display: block;
  }

  .hide-dropdown {
    display: none;
  }


} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

