/*----- COMPONENTS : POST CARD ----- */

.post-card,
.last-post-card {
  margin-bottom: 64px;
}

.post-description {
  font-family: $headers-font;
  font-size: 2.4rem;
}

.post-card-meta {
  text-transform: uppercase;
}

.post-card-meta p {
  margin: 0.4rem auto;
}


// only for the homepage : first blog post
.last-post-card {

  .post-description {
    color: $rose-dawn;
  }

  .post-card-meta {
    text-align: center;
  }

  .post-card-meta span {
    font-weight: 600;
  }

  .post-card-title {
    text-align: center;
  }

  .post-card-content {
    padding: 0 48px;
  }

  .btn-square {
    display: block;
    width: 40%;
    margin: auto;
  }
}


// only for homepage : first post section
#first-posts-section {

  h3 {
    margin: 2rem 0 1.2rem;
  }

  .post-card-excerpt {
    padding-left: 24px;
  }

  .btn-plain {
    text-align: center;
    margin-top: 2.4rem;
  }


}


// featured section

#featured-post-section {
  background: rgba(201, 144, 134, 0.1);
  padding: 32px 0;

  p.post-description {
    margin-left: 2.4rem;
    color: $dark-gray;
    font-style: italic;
  }

  #first-featured {
    width: 75%;
    margin-left: 25%;
  }

  #second-featured {
    position: relative;
    top: -80px;
    left: 24px;
    width: 55vw;
    height: 55vw;
    object-fit: cover;
    border: 8px solid white;
  }

  .post-card-content {
    margin-top: -60px;
    text-align: center;
    padding: 0 24px;
  }

  .btn-square {
    display: block;
    width: 34%;
    margin: auto;
  }

  .post-card-meta {
    margin-top: 32px;
    text-align: center;
    color: $rose-dawn;
  }
}



@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

