/*----- COMPONENTS : POST CARD ----- */

.post-card,
.last-post-card {
  margin-bottom: 64px;
}

.post-description {
  font-family: $headers-font;
  font-size: 2.4rem;
}

.post-card-meta {
  text-transform: uppercase;
}

.post-card-meta p,
.post-card-meta a {
  margin: 0.4rem auto;
  color: $medium-gray;
  font-size: 1.4rem;
}


.last-post-card {

  .post-description {
    color: $rose-dawn;
    margin: 0;
  }

  .post-card-meta {
    text-align: center;
  }

  .post-card-meta span {
    font-weight: 600;
  }

  .post-card-title {
    text-align: center;
  }

  .post-card-content {
    padding: 0 48px;
  }

  .btn-square {
    // display: block;
    // width: 40%;
    margin: auto;
  }
}



@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .last-post-card {

    .post-description {
      position: relative;
      left: -4vw;
      font-size: 3.2rem;
    }

    .post-card-title {
      margin-top: 0;
    }
  }

  .last-post-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 4vw;

    .post-card-meta {
      flex: 0 0 25%;
      margin-top: 8px;
      text-align: left;
    }

    .post-card-meta p,
    .post-card-meta a {
      font-size: 1.4rem;
      text-align: left !important;
      margin-left: 0;
    }

    .post-card-content {
      background: white;
      padding: 16px 32px 32px;
      position: relative;
      top: -4vw;
    }
  }

  .post-card {
    img {
      height: 420px;
      width: 100%;
      object-fit: cover;
    }
  }


} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

