/*----- VARIABLES : COLORS ----- */

$rose-dawn: #C99086;
$old-pink: #E8D0CC;

$light-gray: #F3F0F1;
$medium-gray: #696464;
$gray: #AEAAAA;
$dark-gray: #433D3C;

$primary-color: $rose-dawn;
$accent-color: $old-pink;


// rgb values
// old-pink rgb(232, 208, 204);
