/*----- LAYOUTS : COMING SOON ----- */

#coming-soon-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:linear-gradient(rgba(255,255,255, 0.85), rgba(255,255,255,0.85)), url('https://res.cloudinary.com/camvillard/image/upload/v1559257790/pattern_filaire.png');
  background-size: cover;
  h1 {
    margin: 0 auto;
    text-align: center;
  }
  h4 {
    color: $medium-gray;
    text-align: center;
    font-size: 1.8rem;
    margin: .8rem auto 0;
  }
}

#social-icons-landing {
  margin-top: 30px;
  display: flex;
  .social-icon-white {
    margin: 0 8px;
  }

}

@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  #coming-soon-page {
  }
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px

